<div id="cookie-msg" class="popup-cookie dark white-text" style="position: absolute;right: 0;left: 0;bottom: 0;width: 100%;padding: 20px">
	This website using the cookie to save the theme color you have choosing.
	<button class="btn transparent primary-border right">
		go it
	</button>
</div>