<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="{{head.author}}">
  <meta name="description" content="{{head.description}}">
  <meta name="keywords" content="{{head.keywords}}">
  <title>{{head.longTitle}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
  <link rel="manifest" href="./manifest.json">
</head>
<body>

  <!-- Start noscript -->
  {{> partials/noscript }}
  <!-- End noscript -->

  <!-- Start navbar -->
  {{> partials/navbar }}
  <!-- End navbar -->

  <!-- Start header -->
  {{> partials/header }}
  <!-- End header -->

  <!-- Start about -->
  {{> partials/about }}
  <!-- End about -->

  <!-- Start services -->
  {{> partials/services }}
  <!-- End services -->

  <!-- Start menu -->
  {{> partials/menu }}
  <!-- End menu -->

  <!-- Start team -->
  {{> partials/team }}
  <!-- End team -->

  <!-- Start reservation -->
  {{> partials/reservation }}
  <!-- End reservation -->

  <!-- Start footer -->
  {{> partials/footer }}
  <!-- End footer -->

  <!-- Start popUp's -->
  {{> partials/popup }}
  <!-- End popUp's -->

</body>
</html>